 .navbar-text {
    color: #fff; /* Navbar text color */
  }

  .navbar-text img {
    border-radius: 50%; /* Make the profile photo rounded */
    margin-right: 10px; /* Add some spacing between the photo and the text */
  }