<div class="row">
    <div class="col-md-4 col-md-offset-4 login-box">
        <h2 class="text-center">Login</h2>
        <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group col-md-12">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="Email">
                <span class="validation-error"
                    *ngIf="(loginFormControl.email.touched) && loginFormControl.email.errors?.required">
                    Email is required
                </span>
                <span class="validation-error"
                    *ngIf="(loginFormControl.email.touched) && loginFormControl.email.errors?.email">
                    Invalid email format
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Password">
                <span class="validation-error"
                    *ngIf="(loginFormControl.password.touched) && loginFormControl.password.errors?.required">
                    Password is required
                </span>
                <span class="validation-error"
                    *ngIf="(loginFormControl.password.touched) && loginFormControl.password.errors?.minlength">
                    Password must be at least 8 characters
                </span>
                <!-- <span class="validation-error"
                    *ngIf="(loginFormControl.password.touched) && loginFormControl.password.errors?.pattern">
                    Password must contain one upparcase, one lowercase, one special character, min 8 to 10 characters long.
                </span> -->
            </div>
            <button [disabled]="loginForm.invalid || btnLoader == true" type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>