.registration-box{
    background-color: #ffffff; /* Light gray background color */
    padding: 20px; /* Add some padding to the container */
    margin-top: 50px; /* Adjust the top margin as needed */
    border-radius: 5px; /* Optional: Add rounded corners to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}